.list-item {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.description {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    font-style: italic;
    cursor: pointer;
}